*{
    margin: 0px;
    padding: 0px;
}
body{

    background-color: #edc4b3;
}
.navbar{
    display: flex;
    height: 100px;
    width:100%;
  background-color: #9d6b53;
    
}
.heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left:2%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.navbar ul{
    display: flex;
    margin-left: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-decoration: none;
}
.navbar ul li{
    list-style: none;
    margin: 0 23px;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
}
.navbar ul li a:hover{
    color: #22333b;
    font-size: 1.2rem;
    font-weight: bold;
}
.main{
    display: flex;
    justify-content: space-evenly;
}
.right{
    color: white;
    margin-top: 12%;
    padding-top: 3.5%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    width:28%;
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #9d6b53;
    border-radius: 5%;
}
.clr{
    color: wheat;
}
.left{
    margin-top: 5%;
    background-image: url("about us img.png");
    height: 500px;
    width:500px;
    background-position: center;
    background-size: cover;
}
.second-main{
    padding-top: 5%;
    display: flex;
    justify-content: space-evenly;
    
}
.third-main{
    padding-top: 10%;
    display: flex;
    justify-content: space-evenly;
}
.b{
    padding-top: 2%;
    height: 500px;
    width:23%;
    border: 2px solid black;  
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #9d6b53;
    border-radius: 5%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    color: white;
}
.b1:hover{
    height: 510px;
    width:25%;
}
.b p{
    padding-top: 2%;
}
.b h4{
    font-style: italic;
    text-decoration: underline;
    color: wheat;
}
footer{
margin-top: 5%;
background-color: #9d6b53;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
footer a{
    color: white;
    margin-left:3%;
}

