*{
    margin: 0px;
    padding: 0px;
}
body{

    background-color: #edc4b3;
}
.navbar{
    display: flex;
    height: 100px;
    width:100%;
  background-color: #9d6b53;
    
}
.heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left:2%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.navbar ul{
    display: flex;
    margin-left: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-decoration: none;
}
.navbar ul li{
    list-style: none;
    margin: 0 23px;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
}
.navbar ul li a:hover{
    color: #22333b;
    font-size: 1.2rem;
    font-weight: bold;
}
.find{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 2%;
}
.find h6{
    font-size: 100px;
    color: #6f1d1b;
   
}

.main{
    display: flex;
    justify-content: center;
    padding: 10%;
}

.main a {
    padding: 10%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    background-color:antiquewhite;
    margin-left: 2%;
    color: black;
    font-size: 30px;
}
.main a :hover{
   color: red;
}
footer{
margin-top: 5%;
background-color: #9d6b53;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
footer i{
    color: antiquewhite;
    font-size: 30px;
}